@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    color: aliceblue;
    background-color: #586037;
}



li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    border-radius: 5px;
}

h2 {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 5rem;
    color: #fff; 
}

p {
    font-size: 2rem;
    text-align: justify;
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #fff;
}
